@keyframes phase-change {
    0% {width:100%; height:100%;}
    100% {width:100%; height:100%;}
}

@keyframes phase-change-text {
    0% {
        opacity:0;
        transform:translate(calc(var(--tile-size) * -3), 0) scale(1, 0);
    }
    15% {
        opacity:1;
        transform:translate(calc(var(--tile-size) * -0.125), 0) scale(1, 1);
    }    
    85% {
        opacity:1;
        transform:translate(calc(var(--tile-size) * +0.125), 0) scale(1, 1);
    }
    100% {
        transform:translate(calc(var(--tile-size) * +3), 0) scale(1,0);
        opacity:0;
    }
}
@keyframes phase-change-background {
    0% {
        opacity:0;
    }
    17.5%, 82.5% {
        opacity:0.666;
    }
    100% {
        opacity:0;
    }
}

.phase-change-msg {--phase-change-msg-duration: 1.0s; /* 1.0s */position:absolute;width:0;height:0;top:0;left:0;display:flex;flex-flow:column;align-items:center;color:#ffffff;overflow:hidden;z-index:999100;}

.phase-change-msg h1, .phase-change-msg h2 {
    z-index:2;
    font-weight:normal;
    transform:scale(0);
    user-select:none;
    cursor: default;
}

.phase-change-msg h1 {
    margin: auto 0 0 0;
    font-size: calc(var(--tile-size) * 0.70);
    text-transform:uppercase;
}

.phase-change-msg h2 {
    margin: 0 0 auto 0;
    font-size: calc(var(--tile-size) * 0.30);
}

.phase-change-background {
    background:black;
    position:absolute;
    width:100%;
    height:100%;
    z-index:0;
    opacity:0.5;
}

.phase-change-msg.animate {
    animation: phase-change var(--phase-change-msg-duration) linear;
}

.phase-change-msg.animate h1,
.phase-change-msg.animate h2 {
    animation: phase-change-text var(--phase-change-msg-duration) linear;
}

.phase-change-msg.animate .phase-change-background {
    animation: phase-change-background var(--phase-change-msg-duration) linear;
}