@font-face {
    font-family: system;
    src: url('../font/system.woff2')
}

.status-panel {
    font-family: system;
}

.status-panel .hidden {
    display:none;
}

.status-panel {
    font-family: system;
    position:relative;
    background:#161616;
    font-size:14px;
    font-weight:normal;
    display: grid;
    grid-template-columns: 
        [begin] auto [status] 154px [equipment] 168px [ending];
    grid-template-rows: 
        [a] 
        118px [b];
    box-shadow: 0 0 10px black;
    z-index: 10;
    --stat-color: #FFF59D;
    --hp-color: rgb(224, 188, 79);
}

.status-panel.initial * {
    display:none;
}

.status-panel label {
    text-align:center;
    line-height:24px;
    color:#fefefe;
    font-size: 12px;
    text-shadow:
        -1px -1px 1px #000,
        1px -1px 1px #000,
        -1px 1px 1px #000,
        1px 1px 1px #000;
}

/* ================================================ */
/* UNIT PORTRAIT */
/* ================================================ */

.status-panel .unit-portrait, 
.status-panel .foe-portrait {
    grid-area: a / begin / b / ending;
    background-image: url('../img/heroes/Icon_Portrait_Leo.png');
    background-repeat: no-repeat;
    background-size:contain;
}


/* ================================================ */
/* UNIT STATUS */
/* ================================================ */

.status-panel .unit-status {
    display: grid ;
    grid-area: a / status / b / equipment;
    grid-template-rows: 
        [toptop]
        4px
        [name] 
        26px
        [name-end]
        4px
        [hp]
        32px
        [hp-end]
        5px
        [atk]
        18px
        [atk-end]
        2px
        [def]
        18px
        [def-end]
        2px
        [ending];
    grid-template-columns:
        [begin] 9px [stat1] 36px [val1] 28px [mid] 10px [stat2] 36px [val2] 28px [prend] 9px [ending];
    background:linear-gradient(to right, transparent 0%, #161616 12.5%);
}

.unit-status label[name=name] {
    grid-area: name / stat1 / name-end / prend;
    line-height: 26px;
    font-size:15px;
    background: linear-gradient(to top, rgba(255, 255, 255, 0.025), rgba(255, 0, 0, 0) 50%);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
    text-overflow:ellipsis;
    line-break:after-white-space;
    white-space: nowrap; 
    overflow:hidden;
}

.unit-status label[name=hpTxt] {
    grid-area: hp / stat1 / hp-end / val1;
    line-height: 32px;
    font-size: 14px;
    
}

.unit-status label[name=hp] {
    grid-area: hp / val1 / hp-end / stat2;
    line-height: 32px;
    text-align:right;
    font-size:20px;
    color: var(--hp-color);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}

.unit-status label[name=maxHp] {
    grid-area: hp / stat2 / hp-end / prend;
    line-height: 32px;
    font-size:15px;
    color: var(--hp-color);
    text-align:left;
    text-indent: 8px;
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}

.unit-status label[name=atkTxt] { grid-area: atk / stat1 / atk-end / val1;}
.unit-status label[name=atk]    { grid-area: atk / val1 / atk-end / mid;}
.unit-status label[name=spdTxt] { grid-area: atk / stat2 / atk-end / val2;}
.unit-status label[name=spd]    { grid-area: atk / val2 / atk-end / prend;}
.unit-status label[name=defTxt] { grid-area: def / stat1 / def-end / val1;}
.unit-status label[name=def]    { grid-area: def / val1 / def-end / mid;}
.unit-status label[name=resTxt] { grid-area: def / stat2 / def-end / val2;}
.unit-status label[name=res]    { grid-area: def / val2 / def-end / prend;}

.unit-status label[name=atkTxt],
.unit-status label[name=spdTxt],
.unit-status label[name=defTxt],
.unit-status label[name=resTxt] {
    text-align: left;
    line-height: 18px;
    font-size: 14px;
}

.unit-status label[name=atk],
.unit-status label[name=spd],
.unit-status label[name=def],
.unit-status label[name=res] {
    text-align: right;
    line-height: 18px;
    font-size: 15px;
    color: var(--stat-color);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}

/* ================================================ */
/* UNIT EQUIPMENT */
/* ================================================ */

.status-panel .unit-equipment {
    grid-area: a / equipment / b / ending;
    grid-template-rows:
        [toptop]
        4px
        [skills]
        26px
        [skills-end]
        4px
        [weapon]
        24px
        [weapon-end]
        4px
        [assist]
        24px
        [assist-end]
        4px
        [special]
        24px
        [special-end]
        4px;
    grid-template-columns:
        [begin] 4px [icon-begin] 4px [icons] auto
        [skill1] 26px [skill1-end] 4px 
        [skill2] 26px [skill2-end] 4px 
        [skill3] 26px [skill3-end] 4px 
        [skill4] 26px [skill4-end] 4px
        [ending];
    display: grid;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.14), transparent 50%);
}

.unit-equipment div[name=passiveA],
.unit-equipment div[name=passiveB],
.unit-equipment div[name=passiveC],
.unit-equipment div[name=sacredSeal] {
    border-radius: 50px;
}

.unit-equipment div[name=passiveA]   { grid-area: skills / skill1 / skills-end / skill1-end;}
.unit-equipment div[name=passiveB]   { grid-area: skills / skill2 / skills-end / skill2-end;}
.unit-equipment div[name=passiveC]   { grid-area: skills / skill3 / skills-end / skill3-end;}
.unit-equipment div[name=sacredSeal] { grid-area: skills / skill4 / skills-end / skill4-end;}

.unit-equipment label[name=weapon] ,
.unit-equipment label[name=assist] ,    
.unit-equipment label[name=special] {
    text-align: left;
    text-indent: 0px;
    background: linear-gradient(to left, rgba(255, 255, 255, 0.025), transparent 100%);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}

.unit-equipment label[name=weapon]  { grid-area: weapon / icons / weapon-end / skill4-end;}
.unit-equipment label[name=assist]  { grid-area: assist / icons / assist-end / skill4-end;}
.unit-equipment label[name=special] { grid-area: special / icons / special-end / skill4-end;}

.unit-equipment div {
    position:relative;
}

.unit-equipment div label {
    position:absolute;
    right:0;
    bottom:0;
    line-height:10px;
    font-size:11px;
    color:rgb(185, 161, 124) !important;
}

.unit-equipment div[name=passiveA] label   { color: #F44336; }
.unit-equipment div[name=passiveB] label   { color: #2196F3; }
.unit-equipment div[name=passiveC] label   { color: #4CAF50; }
.unit-equipment div[name=sacredSeal] label { color: #FF9800; }

/* ================================================ */
/* COMBAT FORECAST */
/* ================================================ */

.combat-forecast {
    background:#0c0c0c;
    display:grid;
    grid-area: a / begin / b / ending;
    z-index:10;
    grid-template-rows:
        [toptop] 6px
        [name] 24px
        [name-end] 11px
        [hp] 31px
        [hp-end] 14px
        [desc] 20px
        [desc-end] auto
        [ending];
    
    --arrow-gap: 32px;
    --s-gap: 15px;
    --n-gap: 22px;

    grid-template-columns:
        [begin] auto 
        [u-name] var(--n-gap) [u-s] var(--s-gap) [u-hp] 32px [u-arrow] var(--arrow-gap) [u-hp2] 32px [u-hp3] 20px 
        [mid]    20px [f-hp] 32px [f-arrow] var(--arrow-gap) [f-hp2] 32px [f-hp3] var(--s-gap) [f-s] var(--n-gap) [f-name] auto [ending];
}

/* --- */

.combat-forecast .unit-portrait {
    grid-area: toptop / begin / ending / mid;
    background-size:contain;
    background-position: left center;
    background-image:
        url('../img/heroes/Icon_Portrait_Leo.png'), 
        linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent 100%);
    z-index:-2;
}

.combat-forecast .foe-portrait {
    grid-area: toptop / mid / ending / ending;
    background-size:contain;
    background-position: right left;
        background-image:
        url('../img/heroes/Icon_Portrait_Leo.png'), 
        linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent 100%);
    transform: scaleX(-1);
    z-index:-2;
}

/* --- */

.combat-forecast div[name=ld] {
    grid-area: toptop / mid / ending / ending;
    background:linear-gradient(to right, #101010 50%, transparent);
    z-index:-1;
}
.combat-forecast div[name=ed] {
    grid-area: toptop / begin / ending / mid;
    background:linear-gradient(to left, #161616 50%, transparent);
    z-index:-1;
}

.combat-forecast label[name=hp] {
    grid-area: hp / u-hp3 / hp-end / f-hp;
    line-height: 32px;
    font-size:13px;
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}

/* --- */
.combat-forecast label[name=foe-name],
.combat-forecast label[name=unit-name] {
    line-height:24px;
    font-size:14px;
    text-align:center;
    text-indent:6px;
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}
.combat-forecast label[name=unit-name] { 
    grid-area: name / u-name / name-end / mid; 
    background: linear-gradient(to left, rgba(0, 0, 0, 0.25), transparent 100%);
}
.combat-forecast label[name=foe-name] {
    grid-area: name / mid / name-end / f-name; 
    background: linear-gradient(to right, rgba(0, 0, 0, 0.25), transparent 100%);
}

/* --- from hp */
.combat-forecast label[name=foe-from],
.combat-forecast label[name=unit-from] {
    font-size:21px;
    line-height:30px;
    text-align:center;
    color:var(--hp-color);
    background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent 100%);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}
.combat-forecast label[name=unit-from] {
    grid-area: hp / u-hp / hp-end / u-arrow;
}
.combat-forecast label[name=foe-from] {
    grid-area: hp / f-hp / hp-end / f-arrow;
}

/* --- arrows */
.combat-forecast label[name=unit-arrow],
.combat-forecast label[name=foe-arrow] {
    font-size:13px;
    line-height:30px;
    text-align: center;
    color:var(--hp-color);
    background: rgba(0, 0, 0, 0.3);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}
.combat-forecast label[name=unit-arrow] { grid-area: hp / u-arrow / hp-end / u-hp2;}
.combat-forecast label[name=foe-arrow] { grid-area: hp / f-arrow / hp-end / f-hp2;}

/* --- to hp */
.combat-forecast label[name=foe-to],
.combat-forecast label[name=unit-to] {
    font-size:21px;
    line-height:30px;
    color:var(--hp-color);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent 100%);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}
.combat-forecast label[name=unit-to] {
    grid-area: hp / u-hp2 / hp-end / u-hp3;
}
.combat-forecast label[name=foe-to] {
    grid-area: hp / f-hp2 / hp-end / f-hp3;
}

/* --- cooldown */
.combat-forecast label[name=unit-cooldown],
.combat-forecast label[name=foe-cooldown] {
    font-size:16px;
    line-height:18px;
    color:#ff4f8b;
}
.combat-forecast label[name=unit-cooldown] {
    grid-area: desc / u-s / desc-end / mid;
    text-align: left;
}
.combat-forecast label[name=foe-cooldown] {
    grid-area: desc / mid / desc-end / f-s;
    text-align: right;
}


/* --- desc */
.combat-forecast label[name=unit-description],
.combat-forecast label[name=foe-description] {
    text-align: center;
    font-size:15px;
    line-height:19px;
    color:var(--stat-color);
    border-bottom: solid 1px rgba(242, 241, 154, 0.16);
}
.combat-forecast label[name=unit-description] {
    grid-area: desc / u-name / desc-end / mid;    
    text-indent: 5px;
}
.combat-forecast label[name=foe-description] {
    grid-area: desc / mid / desc-end / f-name;
    text-indent: -5px;
}

.combat-forecast label[name=triangle] {
    grid-area: desc / u-s / desc-end / f-s;
    text-align: center;
    line-height: 17px;
    font-size: 15px;
}

.unit-equipment div[name=passiveA],
.unit-equipment div[name=passiveB],
.unit-equipment div[name=passiveC],
.unit-equipment div[name=sacredSeal] {
    background-size: cover;
    border:none;
}

.unit-equipment .empty {
    box-shadow: 0 0 1px #FF9800;
    background: linear-gradient(to left top, rgba(255, 255, 255, 0.05), transparent 100%);
}