body {
    margin: 0;
    padding: 0;
}

.game {
    background: #1f1f1f;
    width:calc(var(--tile-size) * 6);
    position:relative;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.map {
    background:#e8e8e8;
    width:calc(var(--tile-size) * 6);
    height:calc(var(--tile-size) * 8);
    position:relative;
    overflow:hidden;
}

.map-background-image {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    background-size:cover;
}

@keyframes map-background-pattern-animation {
    0% { transform: translate(-50%, -50%);}
    100% { transform: translate(0, 0);}
}

.map-background-pattern {
    animation: map-background-pattern-animation 360s infinite linear;
    width:200%;
    height:200%;
    position:absolute;
    z-index:1;
}

@keyframes map-foreground-image-animation {
    0% { transform: translate(-25%, -25%);} /* 1/4 */
    100% { transform: translate(0, 0);}
}

.map-foreground-image {
    animation: map-foreground-image-animation 20s infinite linear;
    opacity: 0.12;
    background-size:calc(var(--tile-size) * 6);
    width:calc(var(--tile-size) * 24); /* 6x4 */
    height:calc(var(--tile-size) * 24); /* 6x4 */
    position:absolute;
    z-index:3;
}

.bottom-nav {
    background: #161616;
    height: 28px;
    box-shadow: 0 0 10px black;
}

.bottom-nav button:hover {
    color:#FF9800;
}

.bottom-nav button {
    display:inline-block;
    margin: 0 0 008px;
    border:none;
    cursor:pointer;
    transition:0.05s;
    outline:none;
    font-family: system;
    font-size: 12px;
    text-align:center;
    vertical-align: middle;
    user-select:none;
    word-spacing:normal;
    padding:0;
    background: none;
    background-size:cover;
    height: 28px;
    line-height: 26px;
    color: #8f7c60;
        text-shadow:
        -1px -1px 1px #000,
        1px -1px 1px #000,
        -1px 1px 1px #000,
        1px 1px 1px #000;
    padding:0 16px;
    background:
        linear-gradient(to top, rgba(0, 0, 0, 0.24), rgba(0, 0, 255, 0)),
        linear-gradient(to right, rgba(0, 0, 0, 0.24), rgba(0, 0, 255, 0));
    border: solid rgba(0, 0, 0, 0.14) 1px;
    box-sizing:  border-box;
}

.bottom-nav button:active:hover {
    transform:scale(1.05);
}

.bottom-nav button.red:active:hover,
.bottom-nav button.pressed {}

/* HERO ======================================================== */

.hero {
    position: absolute;
    transition:0.20s;
    z-index: 8;
    --tile-icon: calc(var(--tile-size) / 72 * 17);
    --tile-icon-margin: calc(var(--tile-size) / 72 * 3);
    width:var(--tile-size);
    height:var(--tile-size);
}

.hero img { width:var(--tile-size); height:var(--tile-size); }
.hero.waiting img { filter: grayscale(100%) brightness(110%) contrast(90%); }

.hero .weapon-icon {
    width: 55px;
    height: 55px;
    position: absolute;
    right:0;
    transform-origin:right top;
    z-index:10;
    margin:0;
    background-image: url('../img/gui/Status.png');
    background-position: calc(-56px * 0) 56px;
    transform: scale( calc( var(--tile-raw) / 72 * 0.4));
}

.hero .weapon-icon.WEAPON_SWORD { background-position: calc(-56px * 0) 56px; }
.hero .weapon-icon.WEAPON_LANCE { background-position: calc(-56px * 1) 56px; }
.hero .weapon-icon.WEAPON_AXE { background-position: calc(-56px * 2) 56px; }
.hero .weapon-icon.WEAPON_BOW { background-position: calc(-56px * 3) 56px; }
.hero .weapon-icon.WEAPON_DAGGER { background-position: calc(-56px * 4) 56px; }
.hero .weapon-icon.WEAPON_RED_TOME { background-position: calc(-56px * 5) 56px; }
.hero .weapon-icon.WEAPON_BLUE_TOME { background-position: calc(-56px * 6) 56px; }
.hero .weapon-icon.WEAPON_GREEN_TOME { background-position: calc(-56px * 7) 56px; }
.hero .weapon-icon.WEAPON_STAFF { background-position: calc(-56px * 8) 56px; }
.hero .weapon-icon.WEAPON_RED_BREATH { background-position: calc(-56px * 9) 56px; }
.hero .weapon-icon.WEAPON_BLUE_BREATH { background-position: calc(-56px * 10) 56px; }
.hero .weapon-icon.WEAPON_GREEN_BREATH { background-position: calc(-56px * 11) 56px; }

.hero .life-bar {
    width: auto;
    height: calc(var(--tile-icon) * 0.3);
    top: calc(var(--tile-size) - var(--tile-icon) * 0.4);
    right: 1px;
    left: calc(var(--tile-icon) + var(--tile-icon-margin) * 2 - 0px);
    background: black;
    position: absolute;
    z-index: 1;
    display:flex;
    padding:1px;
    box-sizing: border-box;
}

.hero .life-bar div {
    background:hsl(4, 100%, 50%);
    width: 100%;
    height: 100%;
    transition: 0.125s;
}

.hero p.hp {
    position: absolute;
    width: var(--tile-icon);
    height: var(--tile-icon);
    margin: var(--tile-icon-margin);
    left:0;
    bottom:0;
    z-index:1;
    font-size: calc(var(--tile-icon) * 1.1);
    
    color: red;
    text-shadow: 0 0 5px #000000;    

    font-weight:bold;
}

/* PLAYER */
.hero.ltr .sprite-container img { transform: scale(-1, 1); }
.hero.ltr .life-bar div { background:hsla(192, 100%, 45%, 1); }
.hero.ltr .weapon-icon { left:0; transform-origin: left top;}
.hero.ltr p.hp { color:hsla(192, 100%, 45%, 1);}

/* ---------------------------------------------------------------------- */
/* SMALL DIALOG ABOVE TARGET */

@keyframes dialog-hover-animation {
    0%, 100% {
        transform:
            translate(0, calc(var(--tile-size) * -0.4))
            rotateZ(90deg)
            scale(calc(0.4 * var(--tile-raw)/72));
    }
    50% {
        transform:
            translate(0, calc(var(--tile-size) * -0.3))
            rotateZ(90deg)
            scale(calc(0.4 * var(--tile-raw)/72));
    }
}

@keyframes dialog-hover-animation-top-left {
    0%,100% {
        transform:
            translate(calc(var(--tile-size) * -0.1), 0)
            rotateZ(0deg)
            scale(calc(0.4 * var(--tile-raw)/72));
    }
    50% {
        transform:
            translate(calc(var(--tile-size) * -0.2), 0)
            rotateZ(0deg)
            scale(calc(0.4 * var(--tile-raw)/72));
    }
}

@keyframes dialog-hover-animation-top-right {
    0%,100% {
        transform:
            translate(calc(var(--tile-size) * 0.1), 0)
            rotateZ(0deg)
            scale(calc(0.4 * var(--tile-raw)/72));
    }
    50% {
        transform:
            translate(calc(var(--tile-size) * 0.2), 0)
            rotateZ(0deg)
            scale(calc(0.4 * var(--tile-raw)/72));
    }
}

.dialog {
    display:block;    
    position:absolute;
    z-index:10;
    background-image: url(../img/gui/Status.png);

    background-position: 122px -8px;
    width: 120px;
    height: 120px;
    
    transform-origin: right center;
    animation: dialog-hover-animation 1s infinite linear;
}

.top-left.dialog {
    width:133px;
    height:106px;
    background-position: 260px 218px;
    animation: dialog-hover-animation-top-left 1s infinite linear;
    transform-origin: left center;
}

.top-right.dialog {
    width:133px;
    height:106px;
    background-position: 201px 108px;
    animation: dialog-hover-animation-top-right 1s infinite linear;
}

.dialog div { position:absolute; }

.assist.dialog div {
    width: 62px;
    height: 71px;
    transform:rotate(-90deg);
    margin-top: 25px;
    margin-left: 25px;
    background-image: url(../img/gui/Status.png);
    background-position: 64px 71px;
}

.attack.dialog div {
    width: 67px;
    height: 67px;
    transform:rotate(0deg);
    margin-top: 28px;
    margin-left: 20px;
    background-image: url(../img/gui/Status.png);
    background-position: 831px 202px;
}

.top-right.assist.dialog div {
    transform:rotate(0deg);
    margin-top: 20px;
    margin-left: 27px;
}

.top-right.attack.dialog div {
    transform:rotate(90deg);
    margin-top: 19px;
    margin-left: 24px;
}

.top-left.attack.dialog div {
    transform:rotate(90deg);
    margin-top: 19px;
    margin-left: 38px;
}

.top-left.assist.dialog div {
    transform:rotate(0deg);
    margin-top: 20px;
    margin-left: 42px;
}

/* STATUS ======================================================== */

@font-face {
    font-family: system;
    src: url('../font/UC_FONTBig5+HK2008_SKIP.ttf')
}

:root {
    --tile-raw: 72;
    --tile-size: calc(var(--tile-raw) * 1px);
    --font-size: 14px;
}
body {
        background:#1f1f1f !important;
}



@media(max-width: 320px) { :root { --tile-raw: 48; } }
@media(max-width: 360px) { :root { --tile-raw: 60; } }
@media(max-width: 412px) { :root { --tile-raw: 64; } }


/* MAIN ======================================================== */

.le-hit {
    background:#FFC107;
    width: var(--tile-size);
    height: var(--tile-size);
    position:absolute;
    
    opacity:1;
    z-index: -1;
    z-index:9999999999999999;
    transform:scale(0);
}
.le-hit div {
    border-radius:120px;
    background:#ffffff;
    width: var(--tile-size);
    height: var(--tile-size);
    position:absolute;
    transform: rotate(45deg) scale(1.2);
}
.le-hit div:nth-child(2) {
    border-radius:0;
    background:red;
    transform: rotate(45deg) scale(1);
    z-index:-1;
}

/* MAIN ======================================================== */

body {
    display:flex;
    flex-flow:column;
    height:100vh;
    background: #ffffff;
}

.game {
    margin:auto;
    /* filter: blur(5px); */
    /* opacity: 0.2; */
    transition: 0.25s;
}
