:root {
    --tile-size: 72px;
    --font-size: 14px;
}

body {
    margin: 0;
    padding: 0;
}

.game {
    background:#bfb8b8;
    width:calc(var(--tile-size) * 6);
    height:calc(var(--tile-size) * 9);
    position:relative;
}

.map {
    background:#e8e8e8;
    width:calc(var(--tile-size) * 6);
    height:calc(var(--tile-size) * 8);
    position:relative;
    overflow:hidden;
}

.map-background-image {
    width:100%;
    height:100%;
    position:absolute;
    z-index:2;
    background-size:cover;
}

@keyframes map-background-pattern-animation {
    0% { transform: translate(-50%, -50%);}
    100% { transform: translate(0, 0);}
}

.map-background-pattern {
    animation: map-background-pattern-animation 360s infinite linear;
    width:200%;
    height:200%;
    position:absolute;
    z-index:1;
}

@keyframes map-foreground-image-animation {
    0% { transform: translate(-25%, -25%);} /* 1/4 */
    100% { transform: translate(0, 0);}
}

.map-foreground-image {
    animation: map-foreground-image-animation 20s infinite linear;
    opacity: 0.12;
    background-size:calc(var(--tile-size) * 6);
    width:calc(var(--tile-size) * 24); /* 6x4 */
    height:calc(var(--tile-size) * 24); /* 6x4 */
    position:absolute;
    z-index:3;
}

.bottom-nav {
    background: #111;
    height:calc(var(--tile-size) * 1);
}

.bottom-nav button {
    width:var(--tile-size);
    height:var(--tile-size);
    display:inline-block;
    margin:0;
    border:none;
    cursor:pointer;
    transition:0.05s;
    outline:none;
    font-family:Arial;
    font-size:var(--font-size);
    text-align:center;
    vertical-align: middle;
    user-select:none;
    word-spacing:normal;
    padding:0;
    background: none;;
    background-image:url('/res/img/gui/bottom-nav-button.png');
    background-size:cover;
}

.bottom-nav button:active:hover {
    transform:scale(1.05);
}

.bottom-nav button.red:active:hover,
.bottom-nav button.pressed {
    background-image:url('/res/img/gui/bottom-nav-button-red.png');
}

/* HERO ======================================================== */

.hero {
    position: absolute;
    transition:0.20s;
    z-index: 8;
    --tile-icon: calc(var(--tile-size) / 72 * 17);
    --tile-icon-margin: calc(var(--tile-size) / 72 * 3);
    width:var(--tile-size);
    height:var(--tile-size);
}

.hero img { width:var(--tile-size); height:var(--tile-size); }
.hero.waiting img { filter: grayscale(100%) brightness(110%) contrast(90%); }

.hero .weapon-icon {
    width: var(--tile-icon);
    height: var(--tile-icon);
    margin: var(--tile-icon-margin);
    position: absolute;
    right:0;
    z-index:10;
    background-image: url('../img/gui/weapon/Icon_Class_Blue_Lance.png');
    background-size: cover;
}

.hero .life-bar {
    width: auto;
    height: calc(var(--tile-icon) * 0.3);
    bottom: calc(var(--tile-icon-margin) * 0.75);
    right: 1px;
    left: calc(var(--tile-icon) + var(--tile-icon-margin) * 2 - 0px);
    background: black;
    position: absolute;
    z-index: 1;
    display:flex;
    padding:1px;
    box-sizing: border-box ;
}

.hero .life-bar div {
    background:hsl(4, 100%, 50%);
    width: 100%;
    height: 100%;
}

.hero p.hp {
    position: absolute;
    width: var(--tile-icon);
    height: var(--tile-icon);
    margin: var(--tile-icon-margin);
    left:0;
    bottom:0;
    z-index:1;
    font-size: calc(var(--tile-icon) * 1.1);
    
    color: red;
    text-shadow: 0 0 5px #000000;    

    font-weight:bold;
}

/* PLAYER */
.hero.ltr img { transform: scale(-1, 1); }
.hero.ltr .life-bar div { background:hsla(192, 100%, 45%, 1); }
.hero.ltr .weapon-icon { left:0; }
.hero.ltr p.hp { color:hsla(192, 100%, 45%, 1);}

/* SMALL DIALOG ABOVE TARGET */

@keyframes dialog-hover-animation {
    0%,100% { transform:translateY(0) rotateZ(90deg) scale(0.4); }
    50% { transform:translateY(calc(var(--tile-size) * +0.05)) rotateZ(90deg) scale(0.4); }
}

@keyframes dialog-hover-animation-top-left {
    0%,100% { transform:translateY(0) rotateZ(0deg) scale(0.4); }
    50% { transform:translateX(calc(var(--tile-size) * +0.05)) rotateZ(0deg) scale(0.4); }
}

@keyframes dialog-hover-animation-top-right {
    0%,100% { transform:translateY(0) rotateZ(0deg) scale(0.4); }
    50% { transform:translateX(calc(var(--tile-size) * +0.05)) rotateZ(0deg) scale(0.4); }
}

.dialog {

    display:block;    
    position:absolute;
    
    z-index:10;
    width:120px;
    height:120px;
    margin-top: calc( -1 * var(--tile-size));
    margin-left: calc(-120px + 72px + (120px - 72px) / 2 );
    left:calc(var(--tile-size) * 3);
    top:calc(var(--tile-size) * 6);

    animation: dialog-hover-animation 1.125s linear infinite;
    
    background-image: url(../img/gui/Status.png);
    background-position: 122px -8px;
}

.assist.dialog div {
    width: 62px;
    height: 71px;
    transform:rotate(-90deg);
    margin-top: 25px;
    margin-left: 25px;
    position:absolute;
    background-image: url(../img/gui/Status.png);
    background-position: 64px 71px;
}

.attack.dialog div {
    width: 67px;
    height: 67px;
    transform:rotate(0deg);
    margin-top: 28px;
    margin-left: 20px;
    position:absolute;
    background-image: url(../img/gui/Status.png);
    background-position: 831px 202px;
}

.top-left.dialog {
    animation: dialog-hover-animation-top-left 1.125s linear infinite;
    width:133px;
    height:106px;
    background-position: 260px 218px;
    margin-top: -17px;
    margin-left: calc(0px + 22px);
}

.top-right.dialog {
    animation: dialog-hover-animation-top-left 1.125s linear infinite;
    width:133px;
    height:106px;
    background-position: 201px 108px;
    margin-top: -17px;
    margin-left: calc(var(--tile-size) * -1 - 15px);
}

.top-right.assist.dialog div {
    transform:rotate(0deg);
    margin-top: 20px;
    margin-left: 27px;
}

.top-right.attack.dialog div {
    transform:rotate(90deg);
    margin-top: 19px;
    margin-left: 24px;
}

.top-left.attack.dialog div {
    transform:rotate(90deg);
    margin-top: 19px;
    margin-left: 38px;
}

.top-left.assist.dialog div {
    transform:rotate(0deg);
    margin-top: 20px;
    margin-left: 42px;
}

/* MAIN ======================================================== */

body {
    display:flex;
    flex-flow:column;
    height:100vh;
    background:#232323;
}

.game {
    margin:auto;
    overflow:hidden;
    box-shadow: 0 0 1em 0 rgba(0,0,0,1);
}
